body {
    margin: 0;
    font-family: sans-serif;
}
.container{
    background-color: #F4F4F4;
    height: 580px;
    width: 450px;
    margin: auto;

}

.box{
    background-color:#6943FF ;
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.box .box-heading{
    color: #fff;
}
#input-box{
    display: block;
    background-color:#6943FF;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    height: 50px;
    width: 75px;
    color: #fff;
    font-weight: 800;
    font-size: 30px;
    padding-left: 13px;
    margin-bottom: 15px;
}
.box .box-btn{
    background-color: #fff;
    border: none;
    padding: 8px 13px;
    border-radius: 3px;
}
.hero{
    width: 420px;
    height: 90px;
    background-color: #ffff;
    box-sizing: border-box;
    color: #5A537B;
    margin: 15px auto;
   text-align: center;
   
}
.hero h3{
    padding-top: 12px;
}
.clear-btn{
    width: 420px;
    height: 30px;
    margin-left: 12px;
    background-color: #277BC0;
    border: none;
    color: #fff;
    font-weight: bold;
}
